---
layout: default
title: Ozymedia | Agence SEO & Webmarketing à Strasbourg
---
<section id="#agence" class="inside">
  <p>
    Ozymedia, agence web spécialisée en SEO et dans le e-marketing, développe la visibilité et le trafic de ses clients en actionnant les leviers webmarketing les plus pertinents. Basée sur des études e-marketing, les stratégies digitales proposées ont pour but d’obtenir des résultats rapides et à forte valeur ajoutée pour chaque activité.
  </p>
</section>
<section id="prestations" class="inside">
  <h2>Nos prestations</h2>
  <ul class="grid-3">
    <li>
      <h3>Audit technique</h3>
      <p>Une analyse technique de votre site est la première étape pour identifier les éléments qui empêchent votre site de bien se référencer.</p>
    </li>
    <li>
      <h3>Etude sémantique</h3>
      <p>Identifiez les mots-clés sur lesquels vous devez travailler pour générer un trafic qualifié, source de chiffre d’affaires.
</p>
    </li>
    <li>
      <h3>SEO - E-commerce</h3>
      <p>Vous souhaitez développer l’acquisition de trafic de votre boutique en ligne par le référencement naturel. L’étude et des recommandations sur votre site vous permettront d’acquérir du trafic qualifié.</p>
    </li>
    <li>
      <h3>SEO Local</h3>
      <p>Vous êtes un artisan, une entreprise accueillant du public mais vous manquez de visibilité sur Google ? Une analyse avec un ensemble de recommandations vous permettront de toucher plus de monde via votre site.</p>
    </li>
    <li>
      <h3>SEO International</h3>
      <p>Vous vendez à l’export ou vous envisagez de vous développer à l’international ? Une analyse et des recommandations sur votre site vous aideront à être présent dans plusieurs pays.</p>
    </li>
    <li>
      <h3>Plan de marquage Google Tag Manager</h3>
      <p>Améliorez votre compréhension de vos utilisateurs en intégrant des trackers à votre site. Collectez des informations sur le tunnel d'achat.</p>
    </li>
  </ul>
</section>
<section id="blog-list" class="inside">
  <h2>Les dernières actualités du Blog</h2>
  <ul class="grid-3 posts">
    {% for post in site.posts %}
      <li class="card">
        <h2>{{ post.titre }}</h2>
        <p class="date-published">{{ post.date | date: "%d/%m/%y" }} par {{post.author}}</p>
        <p class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
        <div>
          <div>
            {% for tag in post.tags %}
              <p class="tag {{ tag }}">#{{ tag | capitalize }}</p>
            {% endfor %}
          </div>
          <div>
            <a href="{{ post.url }}">Lire la suite<img src="/assets/images/icones/chevron.png" width="10" alt=""></a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
<section class="inside realisations-home">
  <h2>Nos clients font notre fierté</h2>
  <div>
    <img src="../assets/images/realisations/finay.png">
    <p>Attirer de nouveaux prospects uniquement via le site internet, voilà l'ambition de l'entreprise Finay.<br>
    Finay nous a fait confiance dans la refonte de son site internet et dans le développement de son référencement naturel. Au bout de quelques mois seulement, les demandes via le site sont devenues nombreuses, régulières et qualifiées.
    Les résultats de son SEO sont arrivés à la hauteur des prestations qu'elle propose.
  </p>
  </div>
</section>
<!--
<section class="inside">
  <h2>Nos dernières réalisations</h2>
  <ul class="grid-4">
    <li class="shadow"><img src="../assets/images/realisations/bernardcook.png"></li>
  </ul>
</section>
-->
<section class="inside" id="contact">
  <h2>Contact</h2>
  {% include form.html %}
</section>
