<form action="https://formcarry.com/s/KO3sPcIZHFV" method="POST">

  <div class="full">
    <div class="half">
      <label for="prenom">Prénom</label>
      <input type="" name="prenom" class="">
    </div>
    <div class="half">
      <label for="nom">Nom</label>
      <input type="" name="nom" class="">
    </div>
  </div>

  <div class="full">
    <div class="half">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="half">
      <label for="tel">Tel</label>
      <input type="tel" name="tel" id="tel">
    </div>
  </div>
  <div class="full">
    <div class="half">
    <label for="event">Evenement</label>
    <select name="evenement" id="pet-select">
      <option value="">Choisir un type d'événement</option>
      <option value="mariage">Mariage</option>
      <option value="baptême">Baptême</option>
      <option value="fête de famille">Fête de famille</option>
      <option value="anniversaire">Anniversaire</option>
      <option value="départ en retraire">Départ en retraite</option>
      <option value="comité d'entreprise">Comité d'entreprise</option>
      <option value="autre">Autre</option>
    </select>
    </div>
    <div class="half">
      <label for="people">Nombre de personnes</label>
      <input type="number" name="people" id="people">
    </div>
  </div>

  <div>
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
    </textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" name="terms" value="J'accepte que mes données soient transmises dans le cadre de ma demande" required="">
      J'accepte que mes données soient transmises dans le cadre de ma demande
    </label>
  </div>
  <div>
    <input type="submit" value="Envoyer" class="btn btn-primary">
  </div>
</form>
