.banner {
  background-size: cover;
  background-position: center;
  background-position-y: -4rem;
  padding: 30vh 0;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  .banner-text {
    font-family: "ABeeZee";
    max-width: 1024px;
    width: 100%;
    margin: auto;
    text-align: left;
    h1 {
      letter-spacing: 5px;
      font-size: 2.5em;
    }
    span {
      font-size: 0.8em;
    }
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
header {
  position: relative;
  nav {
    position: absolute;
    top: 0px;
  }
}
