.btn {
  background-color: $yellow;
  color: white;
  border-radius: 2px;
  padding: 0.2em 1.5em;
  text-decoration: none;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  &:hover {

  }
}
