* {
  padding: 0px;
  margin: 0px;
}
.current {
  color: green;
}
h1 {
  color: black;
}
article {
  max-width: 1440px;
  background-color: whitesmoke;
  margin: auto;
  height: 100vh;
  display: block;
}
.inside {
  max-width: 1024px;
  border: solid 1px;
  margin: auto;
}
p, h3, h4, h5, h6 {
  font-family: "Roboto";
  font-size:1em;
}
h2 { font-family: "ABeeZee"; text-align: center; }
ul {
  list-style: none;
}
