* {
  padding: 0px;
  margin: 0px;
}
.current {
  color: green;
}
h1 {
  color: black;
}
article {
  max-width: 1440px;
  background-color: red;
  margin: auto;
  height: 100vh;
}
.inside {
  max-width: 1024px;
  background-color: blue;
  margin: auto;
}
p, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}
