* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  width: 100% !important;
  overflow-x: hidden !important;
}
body {
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
h1 {
  color: black;
}
article {
  max-width: 1440px;
  //background-color: whitesmoke;
  margin: auto;
  display: block;
}
.inside {
  max-width: 1024px;
  margin: auto;
  margin-top: 2em;
}
p, h3, h4, h5, h6, a {
  font-family: "Avenir";
  font-size:1em;
}
h2 { font-family: "ABeeZee"; text-align: center; margin-bottom: 1.5em; }
ul {
  list-style: none;
  li {
    width: auto;
    img {
      width: 100%;
    }
  }
}
a {
    text-decoration: none;
    color: black;
}
.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
#blog-list {
  li {
    padding: 2em 2em;
    border-radius: 3px;
  }
}
.date {
  font-size: 0.8em;
  color: grey;
}
.tag {
  border: solid 1px;
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  &.data { background-color: $yellow; }
  &.GTM { background-color: $blue;}
  &.seo {}
}
