#post {
  #nav-menu, #menuToggle, nav {
    color: black;
    a {
      color: black;
    }
  }
  #menuToggle span {
    background: black;
  }
  #menuToggle input:checked ~ span {
    background: black;
  }
  header {
    height: auto;
    display: flex;
    padding-top: 8em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .header-post {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 940px;
    }
    h1 {
      margin: 0; padding: 0; text-align: center; width: 100%; max-width: 940px;
      margin-bottom: 1em; padding: 10px;
    }
    .author-share {
      font-family: "ABeeZee" !important;
      height: auto;
      //min-height: 4em;
      padding-top: 1em;
      border-top: solid 5px $yellow;
      width: 100%;
      max-width: 940px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        font-family: "ABeeZee" !important;
        display: flex;
        align-items: center;
        p {
          span { color: $grey; }
        }
        .avatar {
          width: 50px; height: 50px; border-radius: 50px;
          margin-right: 0.8em;
        }
        .function { font-size: 0.8em; }
      }
      .social-share {
        .icon {
          margin-left: 0.8em; width: 32px; height: 32px;
          img { cursor: pointer; }
        }
        p { color: $grey; }
      }
      p {
        font-family: "ABeeZee" !important;
      }
    }
  }
  article {
    max-width: 940px;
    h1 { padding: 1em 0 1em; }
    h2:before {
      content:"•";
      margin-right: 5px;
      color: $yellow;
      font-size: 2em;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "ABeeZee";
  }
  h2, h3, h4, h5, h6 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
  }
  h3 { margin-top: 1em; }
  p, ol, ul, div {
    font-family: "Avenir";
    list-style-position: inside;
  }
  pre {
    border: solid 1px whitesmoke;
    border-radius: 3px;
    padding: 5px;
    background-color: #FBFBFB;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .author {
    margin-top: 1em;
    border: solid 2px $yellow; border-radius: 3px;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    div:first-of-type {
      margin-left: 0.5em;
    }
    p { font-family: "ABeeZee"; }
    .avatar {
      width: 70px;
      border-radius: 50%;
    }
    .social {
      display: flex;
      align-items: center;
      margin: 0 !important;
      a { display: flex; margin-right: 5px; }
      img {
      }
    }
  }
}
.posts {
  .card {
    font-family: "ABeeZee";
    background-color: white;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    h2 { margin-bottom: 0; min-height: 5.5em; display: flex; align-items: center; font-weight: 100; }
    .date-published { font-size: 0.8em; color: $grey; margin-bottom: 0.2em; }
    .card-text {
      padding-top: 1em;
      margin-bottom: 1em;
      border-top: solid 3px $yellow;
      font-family: "ABeeZee"; font-weight: 100;
      min-height: 7em;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "ABeeZee"; font-weight: 100;
      img { width: 15px; margin-left: 1em; }
      a { display: flex; align-items: center;
        &:hover { text-decoration: underline; }
      }
    }
  }
}
