#post {
  article {
    max-width: 940px;
    h1 { padding: 1em 0 1em; }
    h2:before {
      content:"•";
      margin-right: 5px;
      color: $yellow;
      font-size: 2em;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "ABeeZee";
  }
  h2, h3, h4, h5, h6 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
  }
  h3 { margin-top: 1em; }
  p, ol, ul, div {
    font-family: "Avenir";
  }
  pre {
    border: solid 1px whitesmoke;
    border-radius: 3px;
    padding: 5px;
    background-color: #FBFBFB;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .date {
    font-size: 0.8em;
    color: grey;
  }
  .tag {
    border: solid 1px;
    display: inline-block;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    &.data { background-color: $yellow; }
    &.GTM { background-color: $blue;}
    &.seo {}
  }
}
