#post {
  article {
    max-width: 940px;
    h1 { padding: 1em 0 1em; }
    h2:before {
      content:"•";
      margin-right: 5px;
      color: $yellow;
      font-size: 2em;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "ABeeZee";
  }
  h2, h3, h4, h5, h6 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
  }
  h3 { margin-top: 1em; }
  p, ol, ul {
    font-family: "Avenir";
  }
}
