#prestas {
  max-width: 940px;
  margin: auto;
}
.prestas {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  //border: solid 1px;
  div {
    width: 60%;
    p, h2 {
      text-align: left;
    }
  }
  img {
    width : 200px;
    height: auto;
    object-fit: contain;
    &.internation-map {
      width: 350px;
    }
  }
}
.prestas:nth-child(even) {
  flex-direction: row-reverse;
}

