.prestas {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  border: solid 1px;
  div {
    width: 60%;
    p, h2 {
      text-align: left;
    }
  }
  img {
    width : 200px;
    height: auto;
  }
}
.prestas:nth-child(even) {
  flex-direction: row-reverse;
}

