<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <header>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://as2.ftcdn.net/v2/jpg/01/23/19/81/1000_F_123198138_GAY8yVss6UZJRiEACRhsnBGIk6Wlr1lx.jpg);">
      </div>
      {% include navigation.html %}
    </header>
    <main>
      <article>
        {{ content }}
      </article>
    </main>
  </body>
</html>
