<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
     <link rel="stylesheet" href="../../../assets/css/styles.css">
    <!-- For styles with static names... -->
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NSJKMRR');
    </script>
    <!-- End Google Tag Manager -->
    {% feed_meta %}
    {% seo %}
  </head>
  <body id="post">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSJKMRR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      {% include navigation.html %}
      {% include navmobile.html %}
      <div class="header-post">
        <h1 class="inside">{{page.titre}}</h1>
        <aside class="author-share">
          <div>
            <img src="https://res.cloudinary.com/dpkqqbn5g/image/upload/tf3dszKZpUF5MiPobTveyVdj.jpg" alt="" class="avatar">
            <div>
              {% for author in site.data.authors %}
                {% if author.name == page.author %}
                  <p>{{author.name}}<br><span>{{ author.poste }}</span></p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="social-share">
            <p>Partager cet article</p>
            <div class="icons">
              <div class="icon">
                <img src="/assets/images/icones/facebook-color.png" alt="facebook icon" width="32" height="32" title="Partager sur Facebook" class="colored" onclick="window.open('http://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}');">
              </div>
              <div class="icon">
                <img src="/assets/images/icones/twitter-color.png" alt="twitter icon" width="32" height="32" title="Partager sur Twitter" class="colored" onclick="window.open('http://twitter.com/home?status={{ site.url }}{{ pageurl }}');">
              </div>
              <div class="icon">
                <img src="/assets/images/icones/linkedin-color.png" alt="linkedin icon" width="32" height="32" title="Partager sur Linkedin" class="colored" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}&title=&summary=&source=');">
              </div>
            </div>
          </div>
      </aside>
      </div>
    </header>
    <main>
      <article class="inside">
        <p class="date">Publié le {{ page.date | date: "%d/%m/%y" }}</p>
        {{ content }}
        {% for tag in page.tags %}
          <p class="tag {{ tag }}">#{{ tag | capitalize }}</p>
        {% endfor %}
        <div class="author">
          <img src="https://res.cloudinary.com/dpkqqbn5g/image/upload/tf3dszKZpUF5MiPobTveyVdj.jpg" alt="" class="avatar">
          <div class="">
          {% for author in site.data.authors %}
            {% if author.name == page.author %}
              <p class="">{{ author.name }}</p>
              <p>{{ author.poste }}</p>
            <div class="social">
              <a href="{{ author.linkedin }}">
                <img src="/assets/images/icones/linkedin-circle.png" width="25" alt="">
              </a>
              <a href="{{ author.github }}">
                <img src="/assets/images/icones/github.png" width="25" alt="">
              </a>
              <a href="{{ author.email }}">
                <img src="/assets/images/icones/mail.png" width="25" alt="">
              </a>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </article>
      {% include footer.html %}
    </main>

  </body>
</html>
