<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
     <link rel="stylesheet" href="../../../assets/css/styles.css">
    <!-- For styles with static names... -->
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body id="post">
    <header>
      {% include navigation.html %}
      {% include navmobile.html %}
      <div class="header-post">
        <h1 class="inside">{{page.titre}}</h1>
        <aside class="author-share">
          <div>
            <img src="https://res.cloudinary.com/dpkqqbn5g/image/upload/tf3dszKZpUF5MiPobTveyVdj.jpg" alt="" class="avatar">
            <div>
              <p>Thomas H. <br><span>Expert SEO</span></p>
            </div>
          </div>
          <div class="social-share">
            <p>Partager cet article</p>
            <img src="/assets/images/icones/facebook.png" alt="facebook icon" width="32" height="32">
            <img src="/assets/images/icones/twitter.png" alt="twitter icon" width="32" height="32">
            <img src="/assets/images/icones/linkedin.png" alt="linkedin icon" width="32" height="32">
          </div>
      </aside>
      </div>
    </header>
    <main>
      <article class="inside">
        <p class="date">Publié le {{ page.date | date: "%d/%m/%y" }}</p>
        {{ content }}
        {% for tag in page.tags %}
          <p class="tag {{ tag }}">#{{ tag | capitalize }}</p>
        {% endfor %}
        <p class="author">{{ page.author }}</p>
      </article>
      {% include footer.html %}
    </main>

  </body>
</html>
